

/**
 * 主色
 * 主要品牌颜色是鲜艳、友好的蓝色。
*/
$blue:#409EFF;

/**
 * 辅助色
 * 除了主色外的场景色，需要在不同的场景中使用（例如危险色表示危险的操作）。
*/
$success:#67C23A;
$warning:#EB9E05;
$danger:#FA5555;
$info:#878D99;

/**
 * 中性色
 * 中中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。
*/
$text-1:#2D2F33; //主要文字
$text-2:#5A5E66; //常规文字
$text-3:#878D99; //次要文字
$text-4:#B4BCCC; //占位文字
$border-1:#D8DCE5; //一级边框
$border-2:#DFE4ED; //二级边框
$border-3:#E6EBF5; //三级边框
$border-4:#EDF2FC; //四级边框


